In [1]:
import pandas as pd
orders = pd.read_csv('orders.csv')
print(orders.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [2]:

users = pd.read_json('users.json')
print(users.head())

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [3]:
import sqlite3
conn = sqlite3.connect(':memory:')
with open('restaurants.sql', 'r') as file:
    sql_script = file.read()
    conn.executescript(sql_script)
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
print(restaurants.head())

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [4]:
orders_users = pd.merge(
    orders,
    users,
    how='left',
    left_on='user_id',
    right_on='user_id'
)
final_df = pd.merge(
    orders_users,
    restaurants,
    how='left',
    left_on='restaurant_id',
    right_on='restaurant_id'
)
print(final_df.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0

In [5]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

print("Final dataset saved as 'final_food_delivery_dataset.csv'")

Final dataset saved as 'final_food_delivery_dataset.csv'

In [12]:
print(final_df[final_df['membership']=='Gold'].groupby('city')
      ['total_amount'].sum().idxmax())

Chennai

In [28]:
# Drop rows with missing values in order_amount or cuisine
df_clean = final_df.dropna(subset=['total_amount', 'cuisine'])

# Cuisine with highest average order value
top_cuisine = df_clean.groupby('cuisine')['total_amount'].mean().idxmax()
print("Cuisine with highest average order value:", top_cuisine)

Cuisine with highest average order value: Mexican

In [30]:
user_total = final_df.groupby('user_id')['total_amount'].sum()
num_users = (user_total > 1000).sum()
print("Number of users with total orders > ₹1000:", num_users)

Number of users with total orders > ₹1000: 2544

In [31]:
df_clean = final_df.dropna(subset=['rating', 'total_amount'])

rating_revenue = df_clean.groupby('rating')['total_amount'].sum()

top_rating = rating_revenue.idxmax()
print("Restaurant rating with highest total revenue:", top_rating)

Restaurant rating with highest total revenue: 4.8

In [32]:
gold = final_df[final_df['membership']=='Gold'].dropna(subset=['total_amount', 'city'])
top_city = gold.groupby('city')['total_amount'].mean().idxmax()
print("City with highest average order value among Gold members:", top_city)

City with highest average order value among Gold members: Chennai

In [34]:
top_cuisine = (final_df.groupby('cuisine')
               .agg({'restaurant_id':'nunique','total_amount':'sum'})
               .assign(revenue_per_rest=lambda x: x['total_amount']/x['restaurant_id'])
               .sort_values('revenue_per_rest', ascending=False)
               .index[0])
print("Top cuisine:", top_cuisine)

Top cuisine: Mexican

In [35]:
total_orders = len(final_df)
gold_orders = len(final_df[final_df['membership']=='Gold'])
percent_gold = round((gold_orders / total_orders) * 100)
print("Percentage of orders by Gold members:", percent_gold, "%")

Percentage of orders by Gold members: 50 %

In [36]:
top_restaurant = final_df.groupby('restaurant_id').agg(
    total_orders=('order_id','count'),
    avg_order_value=('total_amount','mean')
).query('total_orders < 20')['avg_order_value'].idxmax()

print("Restaurant with highest average order value (<20 orders):", top_restaurant)

Restaurant with highest average order value (<20 orders): 294

In [38]:
df_clean = final_df.dropna(subset=['city','cuisine','total_amount'])
combo_revenue = df_clean.groupby(['city','cuisine'])['total_amount'].sum()
top_combo = combo_revenue.idxmax()
print("City & Cuisine combination with highest revenue:", top_combo)

City & Cuisine combination with highest revenue: ('Bangalore', 'Mexican')

In [40]:
gold_orders = final_df[final_df['membership']=='Gold']['order_id'].count()
print("Total orders by Gold members:", gold_orders)

Total orders by Gold members: 4987

In [41]:
hyderabad_revenue = round(final_df[final_df['city']=='Hyderabad']['total_amount'].sum())
print("Total revenue from Hyderabad:", hyderabad_revenue)

Total revenue from Hyderabad: 1889367

In [42]:
num_users = final_df['user_id'].nunique()
print("Number of distinct users:", num_users)

Number of distinct users: 2883

In [43]:
avg_gold = round(final_df[final_df['membership']=='Gold']['total_amount'].mean(), 2)
print("Average order value for Gold members:", avg_gold)

Average order value for Gold members: 797.15

In [44]:
high_rating_orders = final_df[final_df['rating'] >= 4.5]['order_id'].count()
print("Orders for restaurants with rating >= 4.5:", high_rating_orders)

Orders for restaurants with rating >= 4.5: 3374

In [45]:
gold = final_df[final_df['membership']=='Gold']
top_city = gold.groupby('city')['total_amount'].sum().idxmax()
orders_in_top_city = gold[gold['city']==top_city]['order_id'].count()
print("Orders in top revenue city among Gold members:", orders_in_top_city)

Orders in top revenue city among Gold members: 1337

In [46]:
total_rows = len(final_df)
print("Total number of rows in the final dataset:", total_rows)

Total number of rows in the final dataset: 10000