In [1]:
import pandas as pd
orders = pd.read_csv('orders.csv')
print(orders.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [2]:

users = pd.read_json('users.json')
print(users.head())

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [3]:
import sqlite3
conn = sqlite3.connect(':memory:')
with open('restaurants.sql', 'r') as file:
    sql_script = file.read()
    conn.executescript(sql_script)
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
print(restaurants.head())

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [4]:
orders_users = pd.merge(
    orders,
    users,
    how='left',
    left_on='user_id',
    right_on='user_id'
)
final_df = pd.merge(
    orders_users,
    restaurants,
    how='left',
    left_on='restaurant_id',
    right_on='restaurant_id'
)
print(final_df.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0

In [5]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

print("Final dataset saved as 'final_food_delivery_dataset.csv'")

Final dataset saved as 'final_food_delivery_dataset.csv'

In [8]:
# City with highest revenue from Gold members
top_city = final_df[final_df['membership']=='Gold'].groupby('city')
print("Top city (Gold members):", top_city)

Top city (Gold members): <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002120FF3F610>